html,body{
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  font-family: 'PingFangSC-Regular,"Source Han Sans CN",sans-serif';
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

