html,body{
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  font-family: 'PingFang SC', "Microsoft YaHei","Helvetica","Arial","黑体","宋体","sans-serif";
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

